ultralytics # MODELO DE DETECCION DE OBJETOS YOLOv8
paddlepaddle # FRAMEWORK DE DEEP LEARNING
paddleocr # OCR
sqlite3 # BASE DE DATOS SQLITE
opencv-python # PROCESAMIENTO DE IMAGENES
numpy # MANEJO DE ARREGLOS

